{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
    <form action="{% url 'create' %}" method="post">
      {% csrf_token %}
      {% if message %}
          <div class="alert alert-primary" role="alert">
            {{ message }}
          </div>
      {% endif %}
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea type="text" class="form-control" rows=10 id="exampleFormControlInput1" name="description"></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label">Starting Bid</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" name="price">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>

{% endblock %}
