{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="margin:15px">Create Listing</h2>
    <div style="border-bottom: solid 1px;color: rgba(0,0,0,.1);margin-bottom: 30px;"></div>

    {% if message %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div class="form-group" style="margin-left: 50px; margin-right: 50px;">
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>


{% endblock %}
