{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    {% if user.is_authenticated %}
        {% if message %}
            <div class="alert alert-primary" role="alert">
            {{ message }}
            </div>
            <form action="{% url 'listings' listing.id%}" method="post">
              {% csrf_token %}
              <input type="hidden" name ="listings" value="remove_watchlist">
              <button type="submit" class="btn btn-secondary btn-sm">Watchlist</button>
          </form>
          <br>
        {% else %}
        <form action="{% url 'listings' listing.id%}" method="post">
            {% csrf_token %}
            <input type="hidden" name ="listings" value="add_watchlist">
            <button type="submit" class="btn btn-secondary btn-sm">Watchlist</button>
        </form>
        <br>
        {% endif %}
    {% endif %}

    <img src="{{ listing.image }}" style="width:400px;">
    <h4>Description:</h4>
    <p>{{ listing.description }}</p>
    <h4>Starting Price: {{ listing.price }}</h4>

    {% if user.is_authenticated %}
        {% if not user == listing.listed_by %}
            {% if listing.active == False and user == listing.winner %}
                <div class="alert alert-primary" role="alert">
                  You won the auction with a bid of ${{ listing.winning_bid }} USD
                </div>
            {% else %}
                <form action="{% url 'listings' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="hidden" name="listings" value="place_bid">
                        <label class="form-label">Bid</label>
                        <input type="number" class="form-control" name="bid">
                    </div>
                    <button type="submit" class="btn btn-primary">Place Bid</button>
                </form>
            {% endif %}
        {% else %}
              {% if listing.active == False %}
                  <div class="alert alert-primary" role="alert">
                      Closed Auction. Winner: {{ listing.winner }}. Final Bid: ${{ listing.winning_bid }} USD
                  </div>
              {% else %}
                  <form action="{% url 'listings' listing.id %}" method="post">
                      {% csrf_token %}
                          <div class="mb-3">
                              <input type="hidden" name="listings" value="close_auction">
                          </div>
                      <button type="submit" class="btn btn-primary">Close Auction</button>
                  </form>
              {% endif %}
        {% endif %}
    {% endif %}

    <br>
    <h4>Details:</h4>
    <ul>
        <li>Listed by: {{ listing.listed_by.username }}</li>
        {% if listing.category == '' %}
            <li>Category: No Category Listed</li>
        {% else %}
            <li>Category: {{ listing.category }}</li>
        {% endif %}
    </ul>
{% endblock %}
